@media only screen and (max-width: 1450px) {
    .for_header {
        width: 1200px;
    }

    .row {
        width: 1200px;
    }

    .video_block {
        width: 1200px;
    }

    .links {
        font-size: 16px;
    }

    .menus {
        margin-left: 41px;
    }

    .search-wrap {
        width: 60%;
    }

    .clock {
        display: none;
    }

    .social-wrap {
        margin-right: 0;
    }
    .med_news_in_touch_img img{
        height: 152px;
    }

    .newsThreeInOne .med_news_in_touch_img img{
        height: 139px;
    }

    .med_news_in_touch .react_banner img {
        height: auto;
    }

    .timeline {
        height: 844px;
    }

    .tiv_one_news_general_news {
        width: 44%;
    }

    .tiv_one_news_block .med_news_in_touch {
        width: 48%;
        height: auto;
    }

    .med_news_in_touch_block {
        margin-bottom: 10px;
    }

    .med_news_in_touch_title {
        font-size: 90%;
    }

    .tiv_one_news_block .med_news_in_touch .med_news_in_touch_block {
        width: 48%;
    }

    .subNavMenu {
        top: 49px;
    }

    .tiv_one_news_general_news {
        width: 47%;
        height: auto;
    }

    .generalImgBlock img {
        height: auto;
    }

}

@media only screen and (max-width: 1250px) {
    .for_header {
        width: 992px;
    }

    .row {
        width: 992px;
    }

    .logo {
        margin: 0 3.1% 0 0;
    }

    .search {
        margin-left: 32px;
        cursor: pointer;
    }

    .video_block {
        width: 992px;

    }

    .med_news_in_touch_title{
        font-size: 79%;
    }

    .search-wrap {
        width: 52%;
        margin: 0;
    }

    .tiv_one_news_general_news_block {
        height: auto;
    }

    .social-wrap {
        margin-left: 32px;

    }

    .menus {
        margin-left: 15px;
    }

    .clock {
        display: none;
    }

    .playMenu {
        margin-left: 31px;
    }


    .timeline {
        height: 763px;
    }

    .tiv_one_news_block .med_news_in_touch .med_news_in_touch_block {
        width: 47%;
    }

    .tiv_one_news_block .med_news_in_touch_title {
        padding: 3px 5px 7px 5px;
        font-size: 79%;
    }
    .med_news_in_touch_img img{
        height: 110px;
    }
    .newsThreeInOne .med_news_in_touch_img img{
        height: 111px;
    }


}

@media only screen and (max-width: 1024px) {
    .container {
        background-color: white;
    }

    .burger_block {
        width: 100%;
        height: 100%;
        position: fixed;
        transform: translate3d(-100%, 0, 0);
        z-index: 9999;
        background-color: #000000;
        opacity: 1;
    }

    .burger_active {
        transition: transform 0.25s ease;
        transform: translate3d(0, 0, 0);
    }

    .burger_close_sc {
        transition: transform 0.25s ease;
    }

    .burger_close {
        display: block;
        text-align: right;
        color: white;
        font-size: 25px;
        margin-right: 20px;
        margin-top: 10px;
    }

    .burger_logo {
        display: block;
        text-align: center;
    }

    .nav_mobile {
        display: block;
        padding: 0 12px;
    }

    .subNavMenu_mobile {
        display: none;
    }

    .menus_mobile {
        margin-bottom: 25px;
        align-items: center;
    }

    .menus_mobile .links {
        padding: 0;
        font-size: 25px;
        color: white;
    }

    .subMenus_mobile_plus {
        color: white;
        font-size: 35px;
        float: right;
    }

    .subMenus_mobile_plus::after {
        content: '+';
        font-size: 38px;
        font-weight: 700;
    }

    .subMenus_mobile_minus:after {
        content: '-';
        font-size: 38px;
        font-weight: 700;
    }


    .burger_social {
        display: block;
        bottom: 40px;
        text-align: center;
        position: absolute;
        width: 100%;
    }

    .burger_social_title {
        display: block;
        color: white;
        margin-bottom: 20px;
    }

    .subLinks {
        font-size: 10px;
        color: white;

    }


    header {
        width: 100%;
    }

    .for_header {
        width: calc(100% - 30px);
    }


    nav {
        margin-right: 0;
        width: 58%;
    }

    .menus {
        display: none;
    }

    .right-header {
        display: flex;
        align-items: center;
        margin: 0;
        width: 60%;
    }

    .search-wrap {
        width: 71%;
    }

    .search_line {
        display: none;
        width: 100%;
        margin: 0;
    }

    .social-wrap {
        display: none;
    }

    .video_block {
        width: 100%;
    }

    .logo {
        margin: 0 33px 0 24px;
        width: 25%;
    }

    .logo img {
        width: 82px;
        height: 40px;
    }

    .search {
        display: block;
        text-align: right;
        margin-left: 0;
    }


    .playMenu img {
        width: 27px;
    }

    .play {
        padding-right: 0;
    }

    .play span {
        font-size: 110%;
        position: relative;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }


    .burger {
        display: block;
        margin-left: 0;
        margin-right: 0;
        width: 9%;
    }

    .playMenu {
        display: block;
        margin-left: 20px;
        margin-right: 0;

    }

    .row {
        display: block;
        width: calc(100% - 30px);
    }

    .largesBanner {
        margin: 22px 0 24px;
        width: 100%;
    }

    .largesBanner img {
        width: 100%;
    }


    .newsThreeInOne {
        display: block;
    }

    .generalNews {
        width: 100%;
    }

    .generalImgBlock {
        height: auto;
    }

    .generalImgBlock img {
        width: 100%;
        height: auto;
    }

    .generalInfoBlock {
        bottom: 24px;
    }

    .generalNewsTitle {
        display: block;
        padding-right: 117px;
        font-size: 17px;

    }

    .slick-dots {
        right: 23px;
        bottom: 23px;
        display: inline;
        text-align: right;
    }

    .slick-dots li {
        position: relative;
        display: inline-block;
        width: 8px;
        height: 8px;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;
    }

    .mid_news_block {
        height: 110px;
        margin-bottom: 24px;
    }

    .mid_news_block:hover {
        outline: none;
    }

    .mid_news_img {
        margin: 0;
    }

    .mid_news_text_block {
        margin-left: 0;
    }

    .mid_news_img img {
        width: 150px;
        height: 115px;
    }

    .mid_news_img img:hover {
        outline: 2px solid #D42121;
    }

    .mid_news_desc {
        display: none;
    }

    .mid_news_type {
        font-size: 10px;
        padding: 4px 20px 5px 11px;
    }

    .med_news_in_touch {
        display: none;
    }

    .timeline {
        display: none;
    }

    .react_banner {
        display: none;
    }

    .react_banner_mobile {
        display: block;
        width: 100%;
        margin-bottom: 30px;
    }


    .react_banner_mobile img {
        width: 100%;
    }

    .video {
        display: block;
        width: 100%;

    }


    .video_title {
        margin-left: auto;
    }

    .see_all {
        display: none;
    }

    .see_all_mobile {
        display: block;
        text-align: center;
        padding-bottom: 39px;
        text-transform: uppercase;
    }

    .see_all_mobile a {
        color: white;
        text-decoration: underline;
    }

    .med_news_for_video {
        margin: 0 auto 30px;

    }

    .med_news_for_video_img {
        height: auto;
    }

    .med_news_for_video_img::before {
        left: 150px;
    }

    .video_sec .slick-dots {
        right: 0;
        bottom: 0;
        display: inline;
        text-align: center;
    }

    .video_sec .slick-dots li button:before {
        color: #44D5CC;
        opacity: 1;
    }

    .video_sec .slick-dots li.slick-active button:before {
        color: white;

    }

    .tiv_one_studio {
        display: block;
    }

    .tiv_one_block_desc {
        display: block;
        text-align: center;
    }

    .tiv_one_news_block {
        display: block;
    }

    .tiv_one_news_general_news {
        position: relative;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        height: auto;
    }

    .tiv_one_news_general_news_block {
        width: 100%;
        height: auto;
        margin: 0 29px 0 0;
    }

    .med_news_in_touch {
        display: block;
        width: 100%;
    }

    .tiv_one_news_block .med_news_in_touch {
        display: block;
        width: 100%;
    }

    .tiv_one_news_block .med_news_in_touch .med_news_in_touch_block:nth-child(odd) {
        margin-right: 0;
    }

    .tiv_one_news_block .med_news_in_touch .med_news_in_touch_block {
        width: 100%;
    }

    .med_news_in_touch_block {
        margin: 30px 0;
    }

    .med_news_in_touch_title {
        font-size: 17px;
    }

    .newsThreeInOne .med_news_in_touch_img img{
        height: auto;
    }

    .med_news_in_touch_text {
        margin-top: 0;
    }

    .med_news_in_touch_img img {
        width: 100%;
        height: 111px;
    }

    .tiv_one_see_mobile {
        display: block;
        text-align: center;
        margin-bottom: 48px;

    }


    .tiv_one_see_mobile a {
        color: black;
        text-decoration: underline;
    }


    .all_news {
        display: block;
    }

    .all_news_more_see {
        display: block;
    }

    .all_news_block {
        width: 100%;
        margin-left: 0;
    }

    .more_see_block {
        display: none;
    }

    .see_more_update {
        display: flex;
        margin-bottom: 69px;
        margin-top: 94px;
    }


    footer {
        width: 100%;
        display: block;
        height: auto;
    }

    .footer_nav {
        margin-bottom: 35px;
        width: 100%;
    }

    .footer_block {
        display: block;
        width: calc(100% - 30px);
    }

    .footer_logo {
        margin: 34px 0 65px;
        text-align: center;
    }

    .footer_logo img {
        width: 120px;
        height: 58px;
    }

    .footer_links {
        margin: 0;
        font-size: 15px;
    }

    .site_created_link {
        text-align: center;
        padding-bottom: 37px;
    }

    .site_created_link a {
        color: white;
        font-weight: bold;
    }

    .site_created_text {
        text-align: center;
    }

    .site_created {
        margin-right: 0;
    }


}

@media only screen and (max-width: 768px) {
    .container {
        background-color: white;
    }

    header {
        width: 100%;
    }

    .for_header {
        width: calc(100% - 30px);
    }


    nav {
        margin-right: 0;
        width: 58%;
    }

    .social-wrap {
        display: none;
    }

    .menus {
        display: none;
    }

    .search_line {
        display: none;
    }

    .logo {
        margin: 0 33px 0 24px;
        width: 25%;
    }

    .video_block {
        width: 100%;
    }

    .logo img {
        width: 82px;
        height: 40px;
    }

    .search {
        display: block;
        margin-left: 0;
    }


    .playMenu img {
        width: 27px;
    }

    .play {
        padding-right: 0;
    }

    .play span {
        font-size: 72%;
        position: relative;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }


    .burger {
        display: block;
        margin-left: 0;
        margin-right: 0;
        width: 9%;
    }

    .playMenu {
        display: block;
        margin-left: 20px;
        margin-right: 0;

    }

    .row {
        display: block;
        width: calc(100% - 30px);
    }

    .largesBanner {
        margin: 22px 0 24px;
        width: 100%;
    }

    .largesBanner img {
        width: 100%;
    }


    .newsThreeInOne {
        display: block;
    }

    .generalNews {
        width: 100%;
    }

    .generalImgBlock {
        height: auto;
    }

    .generalImgBlock img {
        width: 100%;
        height: auto;
    }

    .generalInfoBlock {
        bottom: 24px;
    }

    .generalNewsTitle {
        display: block;
        padding-right: 117px;
        font-size: 17px;

    }

    .slick-dots {
        right: 23px;
        bottom: 23px;
        display: inline;
        text-align: right;
    }

    .slick-dots li {
        position: relative;
        display: inline-block;
        width: 8px;
        height: 8px;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;
    }

    .mid_news_block {
        height: 110px;
        margin-bottom: 24px;
    }

    .mid_news_block:hover {
        outline: none;
    }

    .mid_news_img img {
        width: 150px;
    }

    .mid_news_img img:hover {
        outline: 2px solid #D42121;
    }

    .mid_news_desc {
        display: none;
    }

    .mid_news_type {
        font-size: 10px;
        padding: 4px 20px 5px 11px;
    }

    .med_news_in_touch {
        display: none;
    }

    .timeline {
        display: none;
    }

    .react_banner {
        display: none;
    }

    .react_banner_mobile {
        display: block;
        width: 100%;
        margin-bottom: 30px;
    }

    .mediumNews {
        margin-top: 37px;
    }


    .react_banner_mobile img {
        width: 100%;
    }

    .video {
        display: block;
        width: 100%;

    }


    .video_title {
        margin-left: auto;
    }

    .see_all {
        display: none;
    }

    .see_all_mobile {
        display: block;
        text-align: center;
        padding-bottom: 39px;
        text-transform: uppercase;
    }

    .see_all_mobile a {
        color: white;
        text-decoration: underline;
    }

    .med_news_for_video {
        margin: 0 auto 30px;

    }

    .med_news_for_video_img {
        height: auto;
    }

    .med_news_for_video_img::before {
        left: 150px;
    }

    .video_sec .slick-dots {
        right: 0;
        bottom: 0;
        display: inline;
        text-align: center;
    }

    .video_sec .slick-dots li button:before {
        color: #44D5CC;
        opacity: 1;
    }

    .video_sec .slick-dots li.slick-active button:before {
        color: white;

    }

    .tiv_one_studio {
        display: block;
    }

    .tiv_one_block_desc {
        display: block;
        text-align: center;
    }

    .tiv_one_news_block {
        display: block;
    }

    .tiv_one_news_general_news {
        position: relative;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        height: auto;
    }

    .tiv_one_news_general_news_block {
        width: 100%;
        height: auto;
        margin: 0 29px 0 0;
    }

    .med_news_in_touch {
        display: block;
        width: 100%;
    }

    .tiv_one_news_block .med_news_in_touch {
        display: block;
        width: 100%;
    }

    .tiv_one_news_block .med_news_in_touch .med_news_in_touch_block:nth-child(odd) {
        margin-right: 0;
    }

    .tiv_one_news_block .med_news_in_touch .med_news_in_touch_block {
        width: 100%;
    }

    .med_news_in_touch_block {
        margin: 30px 0;
    }

    .med_news_in_touch_title {
        font-size: 17px;
    }

    .med_news_in_touch_text {
        margin-top: 0;
    }

    .med_news_in_touch_img img {
        width: 100%;
        height: auto;
    }
    .newsThreeInOne .med_news_in_touch_img img{
        height: auto;
    }

    .tiv_one_see_mobile {
        display: block;
        text-align: center;
        margin-bottom: 48px;

    }


    .tiv_one_see_mobile a {
        color: black;
        text-decoration: underline;
    }


    .all_news {
        display: block;
    }

    .all_news_more_see {
        display: block;
    }

    .all_news_block {
        width: 100%;
        margin-left: 0;
    }

    .more_see_block {
        display: none;
    }

    .see_more_update {
        display: flex;
        margin-bottom: 69px;
        margin-top: 94px;
    }


    footer {
        width: 100%;
        display: block;
        height: auto;
    }

    .footer_nav {
        margin-bottom: 35px;
        width: 100%;
    }

    .footer_block {
        display: block;
        width: calc(100% - 30px);
    }

    .footer_logo {
        margin: 34px 0 65px;
        text-align: center;
    }

    .footer_logo img {
        width: 120px;
        height: 58px;
    }

    .footer_links {
        margin: 0;
        font-size: 15px;
    }

    .site_created_link {
        text-align: center;
        padding-bottom: 37px;
    }

    .site_created_link a {
        color: white;
        font-weight: bold;
    }

    .site_created_text {
        text-align: center;
    }

    .site_created {
        margin-right: 0;
    }


}

@media only screen and (max-width: 680px) {
    .container {
        background-color: white;
    }

    .modal_search_block{
        display: block;
        position: fixed;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.85);
        z-index: 99999;
        color: white;
        transform: translate3d(0px,-1048px, 0);
        opacity: 1;
    }

    .close_modal{
        display: block;
        text-align: right;
        padding-right: 20px;
        font-size: 30px;
    }

    .modal_search_input_block{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 0 20px;
    }

    .modal_search_input_block svg{
        display: inline-block;
        position: absolute;
        right: 30px;
    }
    .modal_search_input_block input{
        width: 100%;
        height: 44px;
        margin: 0 0 0 auto;
        box-sizing: border-box;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        background-color: #44D5CC;
        padding: 12px 20px 12px 40px;
        outline: none;
        color: white;

    }

    .modal_search_block_active {
        transition: transform 0.25s ease;
        transform: translate3d(0, 0, 0);
    }
    .modal_search_block_close {
        transition: transform 0.25s ease;
    }


    header {
        width: 100%;
    }

    .for_header {
        width: calc(100% - 30px);
    }


    nav {
        margin-right: 0;
        width: 50%;
    }

    .menus {
        display: none;
    }

    .search_line {
        display: none !important;
    }

    .social-wrap {
        display: none;
    }

    .video_block {
        width: 100%;
    }

    .logo {
        margin: 0 33px 0 24px;
        width: 25%;
    }

    .logo img {
        width: 82px;
        height: 40px;
    }

    .search {
        display: block;
        margin-left: 0;
    }


    .playMenu img {
        width: 27px;
    }

    .play {
        padding-right: 0;
    }

    .play span {
        font-size: 72%;
        position: relative;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }


    .burger {
        display: block;
        margin-left: 0;
        margin-right: 0;
        width: 9%;
    }

    .playMenu {
        display: block;
        margin-left: 20px;
        margin-right: 0;

    }

    .row {
        display: block;
        width: calc(100% - 30px);
    }

    .largesBanner {
        margin: 22px 0 24px;
        width: 100%;
    }

    .largesBanner img {
        width: 100%;
    }


    .newsThreeInOne {
        display: block;
    }

    .generalNews {
        width: 100%;
    }

    .generalImgBlock {
        height: auto;
    }

    .generalImgBlock img {
        width: 100%;
        height: auto;
    }

    .generalInfoBlock {
        bottom: 24px;
    }

    .generalNewsTitle {
        display: block;
        padding-right: 70px;
        font-size: 100%;
        position: relative;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }

    .slick-dots {
        right: 23px;
        bottom: 23px;
        display: inline;
        text-align: right;
    }

    .slick-dots li {
        position: relative;
        display: inline-block;
        width: 8px;
        height: 8px;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;
    }

    .mid_news_block {
        height: 109px;
        margin-bottom: 24px;
    }

    .mid_news_block:hover {
        outline: none;
    }

    .mid_news_img img {
        width: 150px;
        height: auto;
    }

    .mid_news_img img:hover {
        outline: 2px solid #D42121;
    }

    .mid_news_desc {
        display: none;
    }

    .mid_news_type {
        font-size: 10px;
        padding: 4px 20px 5px 11px;
    }

    .med_news_in_touch {
        display: none;
    }

    .timeline {
        display: none;
    }

    .react_banner {
        display: none;
    }

    .react_banner_mobile {
        display: block;
        width: 100%;
    }


    .react_banner_mobile img {
        width: 100%;
    }

    .video {
        display: block;
        width: 100%;

    }


    .video_title {
        margin-left: auto;
    }

    .see_all {
        display: none;
    }

    .see_all_mobile {
        display: block;
        text-align: center;
        padding-bottom: 39px;
        text-transform: uppercase;
    }

    .see_all_mobile a {
        color: white;
        text-decoration: underline;
    }

    .med_news_for_video_img::before {
        left: 150px;
    }

    .video_sec .slick-dots {
        right: 0;
        bottom: 0;
        display: inline;
        text-align: center;
    }

    .video_sec .slick-dots li button:before {
        color: #44D5CC;
        opacity: 1;
    }

    .video_sec .slick-dots li.slick-active button:before {
        color: white;

    }

    .tiv_one_studio {
        display: block;
    }

    .tiv_one_block_desc {
        display: block;
        text-align: center;
    }

    .tiv_one_news_block {
        display: block;
    }

    .tiv_one_news_general_news {
        position: relative;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        height: auto;
    }

    .tiv_one_news_general_news_block {
        width: 100%;
        height: auto;
        margin: 0 29px 0 0;
    }

    .med_news_in_touch {
        display: block;
        width: 100%;
    }

    .tiv_one_news_block .med_news_in_touch {
        display: block;
        width: 100%;
    }

    .tiv_one_news_block .med_news_in_touch .med_news_in_touch_block:nth-child(odd) {
        margin-right: 0;
    }

    .tiv_one_news_block .med_news_in_touch .med_news_in_touch_block {
        width: 100%;
    }

    .med_news_in_touch_block {
        margin: 30px 0;
    }

    .med_news_in_touch_title {
        font-size: 17px;
    }

    .med_news_in_touch_text {
        margin-top: 0;
    }

    .med_news_in_touch_img img {
        width: 100%;
        height: auto;
    }

    .tiv_one_see_mobile {
        display: block;
        text-align: center;
        margin-bottom: 48px;

    }


    .tiv_one_see_mobile a {
        color: black;
        text-decoration: underline;
    }


    .all_news {
        display: block;
    }

    .all_news_more_see {
        display: block;
    }

    .all_news_block {
        width: 100%;
        margin-left: 0;
    }

    .more_see_block {
        display: none;
    }

    .see_more_update {
        display: flex;
        margin-bottom: 69px;
        margin-top: 94px;
    }


    footer {
        width: 100%;
        display: block;
        height: auto;
    }

    .footer_nav {
        margin-bottom: 35px;
        width: 100%;
    }

    .footer_block {
        display: block;
        width: calc(100% - 30px);
    }

    .footer_logo {
        margin: 34px 0 65px;
        text-align: center;
    }

    .footer_logo img {
        width: 120px;
        height: 58px;
    }

    .footer_links {
        margin: 0;
        font-size: 15px;
    }

    .site_created_link {
        text-align: center;
        padding-bottom: 37px;
    }

    .site_created_link a {
        color: white;
        font-weight: bold;
    }

    .site_created_text {
        text-align: center;
    }

    .site_created {
        margin-right: 0;
    }


}





