

.post_and_news{
    display: flex;
}

.post_block{
    width: 74%;
    margin-left: 0;
}

.news_block{
    width: 25%;
    margin: 0;
}

.item_banner{
    width: 100%;
    height: auto;
}

.item_banner img{
    width: 100%;
    height: auto;
}

.timeline{
    width: 100%;
    padding: 0 11px 0;
    background-color: #E7E7E7;
    position: sticky;
    top: 80px;
    overflow-y: scroll;
    height: 548px;
    outline: 11px solid #E7E7E7;
}


.item_category_title_block{
    display: flex;
    align-items: center;
}

.item_category_title{
    margin-left: 0;
}

.item_category_title a{
    color: #44D5CC;
    font-size: 20px;
}

.item_category_post_date{
    margin-right: 0;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 15px;
}

.item_category_post_date svg{
    padding-right: 10px;
}

.item_post_title_icons{
    display: flex;
    align-items: center;
    margin: 7px 0 30px;
}

.post_title{
    font-size: 35px;
    color: black;
    width: 65%;
    margin-left: 0;
}

.category_social_icons{
    margin-right: 0;
}

.news_pic{
    width: 100%;
    height: auto;
}

.news_pic img{
    width: inherit;
    height: inherit;
}

.news_des_block{
    padding: 59px 0 49px 0;
}

.news_desc{
    width: calc(100% - 298px);
}

.news_pic_desc{
    border-bottom: 1px solid #CAC7C7;
    margin-bottom: 37px;
}


.news_post_user{
    display: flex;
    align-items: center;
    width: 37%;
    margin-bottom: 44px;
}

.user_img{
    margin-left: 0;
    width: 30%;
}

.user_img img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

.user_name{
    font-size: 20px;
}

.status{
    font-size: 15px;
}

.user_hashtags{
    border-bottom: 1px solid #CAC7C7;
    margin-bottom: 143px;
}

.hashtags{
    text-align: center;
    width: calc(100% - 510px);

}

.hashtags_block{
    padding-bottom: 25px;
}

.social_icons{
    text-align: center;
    margin-bottom: 22px;
}

.post_date{
    text-align: center;
    padding-bottom: 43px;
}

.same_posts{
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.same_title{
    margin-bottom: 31px;
}

.med_news_in_touch_block{
    margin-bottom: 40px;
    width: 32%;
    margin-left: 0;
    margin-right: 0;
}

.footer_logo{
    margin-left: 30px;
    margin-right: 0;
}

.site_created{
    visibility: hidden;
}