@media only screen and (max-width: 1450px){
    .timeline{
        height: 594px;
    }
    .user_name {
        font-size: 17px;
    }
    .post_title{
        font-size: 32px;
    }
}
@media only screen and (max-width: 1250px){
    .post_title{
        font-size: 25px;
    }
    .news_block{
        display: none;
    }
    .post_block {
        width: 100%;
        margin-left: 0;
    }
}
@media only screen and (max-width: 1024px){
    .med_news_in_touch_img img{
        height: auto;
    }
    .news_post_user {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        margin-bottom: 44px;
    }
    .news_desc{
        width: 100%;
    }
    .user_img {
        width: 14%;
        margin: 0;
    }
    .user_name_status{
        margin: 0;
    }

}
@media only screen and (max-width: 768px){
    .news_desc{
        width: 100%;
    }
    .hashtags {
        text-align: center;
        width: 60%;
    }
}
@media only screen and (max-width: 680px) {
    .item_category_title a{
        font-size: 16px;
    }
    .item_category_post_date{
        font-size: 12px;
    }
    .post_title {
        font-size: 16px;
    }
    .news_desc {
        width: 100%;
    }
    .news_post_user {
        width: 100%;
        justify-content: center;
    }
    .user_img {
        margin: 0;
        width: 26%;
    }
    .user_name_status{
        margin: 0;
    }
    .hashtags {
        width: 100%;
    }
}