* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

body {
    max-width: 1920px;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/MONTSERRATARM-LIGHT.otf');
}


.freeze_bg {
    display: none;
    background-color: rgba(68, 213, 204, 0.5);
    width: 100%;
    height: 100%;
    z-index: 9;
    position: fixed;
}

.burger_block{
    opacity: 0;
    height: 0;
}

.modal_search_block{
    opacity: 0;
    height: 0;
}
.modal_search_input_block{
    display: none;
}

.close_modal{
    display: none;
}

.burger_close{
    display: none;
}

.burger_logo{
    display: none;
}

.nav_mobile{
    display: none;
}

.burger_social{
    display: none;
}




.search_line {
    display: none;
    position: relative;
    align-items: center !important;
}

#for_search {
    outline: none;
    color: white;
    display: none;
    opacity: 0;
    width: 711px;
    height: 44px;
    margin: 0 0 0 auto;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    background-color: #44D5CC;
    padding: 12px 20px 12px 40px;
}

#for_search_pic {
    display: none;
    position: absolute;
    right: 13px;
    cursor: pointer;
}


a {
    text-decoration: none;
    color: black;
}

.title {
    font-size: 35px;
    color: black;
}

.container {
    background-color: #E5E5E5;
}

header {
    width: 100%;
    height: 90px;
    background-color: white;
    z-index: 9;



}

.sticky{
    height: 90px;
    position: sticky;
    top: 0;
    z-index: 9;
}

.for_header {
    display: flex;
    align-items: center;
    width: 1380px;
    justify-content: space-between;

}

.right-header {
    display: flex;
    align-items: center;
    margin: 0;
}

.burger {
    display: none;
}

.logo {
    margin: 0 4.5% 0 0;
}

.logo img {
    width: 128px;
    height: 62px;
}

nav {
    margin: 0;
}

.navMenu {
    display: flex;
    align-items: center;
    list-style: none;
}

.menus {
    display: inline-block;
    margin-left: 30px;
    position: relative;
}

.menus:first-child {
    margin: 0;
}

.links {
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 35px 0;
}

.menus:hover > .links {
    color: #44D5CC;
}

.subNavMenu {
    width: 234px;
    position: absolute;
    list-style: none;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgb(0 0 0/25%);
    top: 51px;
    display: none;
    z-index: 1;
}

.menus:hover .subNavMenu {
    display: block;
}

.subNavMenu:hover > .links {
    color: #44D5CC;

}

.subMenus {
    padding: 0 8px 11px;
}

.subLinks {
    text-decoration: none;
    display: block;
    padding-top: 8px;
    color: black;
}


.subMenus:hover {
    background: #44D5CC;
    font-weight: bold;
}


.search {
    margin-left: 50px;
    cursor: pointer;
}

.social-wrap {
    margin-left: 67px;
    display: flex;
}

.youtube {
    margin-left: 15px;
}

.playMenu {
    margin-left: 38px;

}

.play {
    padding-right: 12px;
    display: flex;
    align-items: center;
}

.play span {
    font-size: 100%;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.play img {
    padding-right: 12px;
}

.clock {
    font-size: 15px;
    font-weight: 700;
    margin-left: 30px;
    color: #7B7B7B;
}

#time {
    display: flex;
    font-size: 15px;
    color: #7B7B7B;
}

.clock img {
    width: 21px;
    height: 21px;
}

#date {
    display: block;
    font-size: 12px;
    font-weight: 500;
    padding-left: 8px;
}

.row {
    width: 1380px;
}

.largesBanner {
    width: 100%;
    margin: 30px 0 33px;
}

.largesBanner img {
    width: 100%;
}

.newsThreeInOne {
    display: flex;
    flex-direction: row;

}

.generalNews {
    width: 50%;
    margin: 0 29px 0 0;

}

.generalNewsSlider {
    position: relative;
}

.generalNewsSlider:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.generalInfoBlock {
    position: absolute;
    z-index: 2;
    color: white;
    bottom: 49px;
    left: 23px;
}

.generalNewsDate {
    display: block;
    font-size: 12px;
}

.generalNewsTitle {
    display: block;
    padding-right: 160px;
    font-size: 24px;
}

.slider_blocks {
    position: relative;
}

.slick-dots {
    right: 40px;
    bottom: 40px;
    display: inline;
    text-align: right;
}

.slick-dots li.slick-active button:before {
    opacity: 1;
    color: white;
}

.slick-dots li button:before {
    font-size: 10px;
    opacity: .30;
    color: #000000;
}

.ws {

}

.mid_news_block {
    height: 172px;
    margin-bottom: 32px;
}

.mid_news_block a {
    display: flex;
    height: inherit;
    text-decoration: none;
    color: black;
}

.mid_news_img {
    position: relative;
}

.mid_news_img img {
    width: 234px;
    height: 172px;
}

.mid_news_type {
    position: absolute;
    color: white;
    left: 0;
    bottom: 15px;
    background: #44D5CC;
    padding: 4px 17px 5px 12px;
    font-size: 13px;
    font-weight: 700;
}

.urgent {
    position: absolute;
    color: white;
    left: 0;
    bottom: 15px;
    background: #D42121;
    padding: 4px 17px 5px 12px;
    font-size: 13px;
    font-weight: 700;
}

.mid_news_text_block {
    background: #FFFFFF;
    padding: 12px 12px 15px 21px;
}

.mid_news_title {
    margin-bottom: 17px;
    font-size: 107%;
    line-height: 18px;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.mid_news_desc {
    color: #7b7b7b;
    margin-bottom: 19px;
    font-size: 81%;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.mid_news_date {
    color: #7B7B7B;
    font-size: 12px;
    display: flex;
    align-items: center;
}

.mid_news_date svg {
    width: 11px;
    height: 11px;
    margin: 0 10px 0 0;
}


.mid_news_block:hover .mid_news_date {
    color: #44D5CC;

}

.urgent_hover:hover .mid_news_date {
    color: #D42121;

}

.mid_news_block:hover {
    outline: 2px solid #44D5CC;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}


.timeline_news_block:hover {
    outline: 2px solid #44D5CC;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.timeline_news_block:hover .timeline_news_urgent {
    color: #D42121;
}


.urgent_hover:hover {
    outline: 2px solid #D42121;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);

}

.med_news_in_touch_block {
    margin-bottom: 35px;
}

.med_news_in_touch_block:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.mediumNews {
    margin-top: 37px;
}

.med_news_in_touch_block:nth-child(even) {
    margin-right: 0;

}

.med_news_in_touch {
    width: 24%;
    margin: 0 31px 0 0;
}

.med_news_in_touch .react_banner img {
    width: 100%;
    height: 398px;
}

.med_news_in_touch_img {
    position: relative;
    width: 100%;
}


.med_news_in_touch_img img {
    width: inherit;
    height: 160px;
}

.med_news_in_touch_text {
    background: white;
    margin-top: -3px;
}

.med_news_in_touch_title {
    padding: 6px 14px 7px 15px;
    font-size: 94%;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}


.react_banner img {
    width: 323px;
    height: 423px;
}


.timeline::-webkit-scrollbar {
    width: 5px;
    border-radius: 5px;
}

.timeline::-webkit-scrollbar-track {
    background: #f1f1f1;

}

.timeline::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;

}

.timeline::-webkit-scrollbar-thumb:hover {
    background: #555;
}




.timeline {
    width: 27%;
    padding: 0 11px 0;
    background-color: #E7E7E7;
    overflow-y: auto;
    height: 864px;
    border: 11px solid #E7E7E7;
}

.timeline_block {
    width: 100%;
    padding-top: 0;
}

.timeline_title {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 23px;
    position: sticky;
    background: #E7E7E7;
    top: 0;
    z-index: 1;
}

.timeline_news_block {
    margin-bottom: 15px;
    width: 100%;
}

.timeline_news_block_link {
    display: flex;
    background-color: white;
    padding: 16px 9px 21px 11px;
}

.timeline_news_img {
    margin-right: 13px;
    width: 54%;
}

.timeline_news_img img {
    width: 100%;
    height: auto;
}

.timeline_news_text_block {
    width: 45%;
    height: auto;
}

.timeline_date_and_urgent {
    display: flex;
    margin-bottom: 11px;
    align-items: center;

}

.timeline_news_date {
    font-size: 13px;
    margin: 0;
    display: flex;
    align-items: center;
}

.timeline_news_date svg {
    width: 16px;
    padding-right: 5px;
}

.timeline_news_urgent {
    font-size: 10px;
    margin-right: 0;
}

.timeline_news_desc {
    font-size: 70%;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}


.react_banner_mobile {
    display: none;
}

.video {
    background-color: black;
    width: 100%;
}

.video_block {
    width: 1380px;
}

.video_block_desc {
    display: flex;
    padding: 50px 0 33px 0;
}

.video_title {
    margin-left: 0;
    color: white;

}

.video_title a {
    color: white;

}

.see_all {
    margin-right: 0;

}

.see_all a {
    color: white;
    text-transform: uppercase;

}

.see_all_mobile {
    display: none;
}

.tiv_one_see_mobile {
    display: none;
}

.video_sec {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.med_news_for_video {
    width: 439px;
    margin-left: 0;
    margin-bottom: 30px;

}



.med_news_for_video_img {
    height: 218px;
    position: relative;
}

.med_news_for_video:hover .med_news_for_video_img::before {
    display: block;
}

.med_news_for_video_img::before {
    z-index: 3;
    background-image: url(../img/icons/play.svg);
    background-size: cover;
    content: '';
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    width: 56px;
    left: 192px;
    top: 79px;
    height: 61px;
    display: none;
}


.med_news_for_video_img img {
    width: 100%;
    height: inherit;
}

.med_news_for_video_title {
    background-color: white;
    padding: 6px 14px 7px 15px;
    font-size: 15px;
}


.tiv_one_studio {
    margin: 37px 0 30px;
}

.tiv_one_news_general_news_block {
    width: 100%;
    height:auto;
    margin: 0 29px 0 0;
}



.tiv_one_news_general_news_block a {
    position: relative;
}

.tiv_one_block_desc {
    display: flex;
    margin-bottom: 37px;
}

.tiv_one_block_desc a {
    color: black;
}

.tiv_one_news_block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.generalImgBlock {
    height: auto;
    width: 100%;
}

.generalImgBlock img {
    width: inherit;
    height: 458px;
}

.tiv_one_news_general_news {
    position: relative;
    margin-left: 0;
    margin-right: 29px;
    width: 49%;
    height: 458px;
}

.tiv_one_news_general_news:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.generalInfoBlock {
    position: absolute;
    z-index: 2;
    color: white;
    bottom: 49px;
    left: 23px;
}

.generalNewsDate {
    display: block;
    font-size: 12px;
}

.generalNewsTitle {
    display: block;
    padding-right: 160px;
    font-size: 150%;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.see_all a:hover {
    color: #44D5CC;
    text-decoration: underline;
}

.tiv_one_news_block .med_news_in_touch {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 48.8%;
    margin: 0;
}

.tiv_one_news_block .med_news_in_touch .med_news_in_touch_block {
    margin-left: 0;
    width: 322px;
}

.tiv_one_news_block .med_news_in_touch .med_news_in_touch_block:nth-child(odd) {
    margin-right: 21px;
}

.all_news_more_see {
    display: flex;
}

.all_news_block {
    width: 74.7%;
    margin-left: 0;
}

.all_news .mediumNews{
    margin-top: 0;
}

.more_see_block {
    width: 23%;
}

.more_see_block .react_banner {
    width: 100%;
    height: auto;
}

.more_see_block .react_banner img {
    width: 100%;
    height: auto;
}

.see_more_title {
    font-size: 22px;
    margin: 34px 0 30px;
}

.see_more_update {
    display: flex;
    margin-bottom: 140px;
    margin-top: 75px;
}

.see_more_text {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.see_more_text:hover {
    text-decoration: underline;
}

.see_more_text svg {
    width: 44px;
    height: 44px;
    padding-right: 17px;
}


footer {
    background-color: #000000;
    height: 118px;
    width: 100%;
}

.footer_block {
    display: flex;
    color: white;
    padding-top: 30px;
}

.footer_logo {
    margin-left: 30px;
}

.footer_block_menu {
    display: flex;
    justify-content: space-between;
}

.footer_nav {
    width: 40%;
}


.footer_links {
    list-style: none;
}

.footer_links a {
    color: white;
}

.copy_right {
    text-align: center;
    margin-top: 18px;
}

.site_created {
    margin-right: 30px;
}

.site_created_link a {
    color: white;
}